<div class="modal modal--standard" id="emailmodal" data-controller="account">
  <div class="modal-header">
    <button data-action="click->account#closemodal">
      <%= render 'shared/icons/icons_x' %>
    </button>
    <h1>Change Email</h1>
  </div>

  <div class="modal-inner">
    <form
      class="account-forms"
      method="post"
      action="/users"
      data-controller=""
    >
      <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="user[email]" value="<%= current_user.email %>" required />
      </div>
      <div class="field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]" value="" required />
      </div>
      <input type="submit" value="Submit" class="submit-unsubmitted" data-action="click->account#submitChangeEmail" />
    </form>
  </div>
</div>