<header id="home-header" class="column" data-controller="appnav">

  <div class="container">
    <nav class="h-fill">
      <div class="column h-fill">
        <div class="container nav-inner">

          <ul>
            <li>
              <a href="#section-spone">Audio Memos</a>
            </li>
            <li>
              <a href="#section-sptwo">Organization</a>
            </li>
            <li>
              <a href="#section-spthree">Everything Else</a>
            </li>
          </ul>

          <div class="nav-right-side">
            <% if user_signed_in? %>
              <%= link_to memos_path, id: "dashboard-button" do %>
                <span>Memos</span>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                  <path d="M13 18l6 -6"></path>
                  <path d="M13 6l6 6"></path>
                </svg>
              <% end %>
            <% else %>
              <%= link_to 'Log In', new_user_session_path %>
              <%= link_to 'Try for Free', new_user_registration_path, class: "sign-up-button" %>
            <% end %>
          </div>

        </div>
      </div>
    </nav>
  </div>

</header>
