header {
}

#home-header {
  background: var(--background-dark-two);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 50;
  overflow: hidden;
  height: 4.5rem;
  transition: 0.4s ease-out;
}

#home-header > .container {
  height: 100%;
}

.nav-inner {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-line);
}

.nav-inner > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-inner > ul > li > a {
  color: var(--dark-mode-grey-text);
  font-size: 1rem;
  font-family: "Figtree", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-right: 20px;
  font-weight: 500;
}

.nav-inner > ul > li > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-right-side {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.nav-right-side > #dashboard-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  border-radius: 1.5rem;
}

.nav-right-side > #dashboard-button:hover {
  background: var(--brand-darker);
}

.nav-right-side > #dashboard-button > svg {
  margin-left: 3px;
}

.nav-right-side > span,
.nav-right-side > a {
  color: var(--dark-mode-text-color-muted);
  font-size: 1rem;
  font-family: "Figtree", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin-right: 20px;
  font-weight: 500;
}

.nav-right-side > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right-side > a:first-of-type {
  color: var(--dark-mode-grey-text);
}

.nav-right-side > a:first-of-type:hover {
  color: white;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .nav-inner > ul {
    display: none;
  }
  .nav-inner {
    justify-content: end;
  }

  #home-header > .container > .h-fill > .column {
    padding: 0px 20px;
  }
}

@media (max-width: 480px) {
}
